<a href="https://colab.research.google.com/github/Andygrammer/Kaggle/blob/master/ML_Step0_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Main description

The Titanic is the very first challenge of Kaggle competition.

"The competition is simple: use machine learning to create a model that predicts which passengers survived the Titanic shipwreck."

Source: https://www.kaggle.com/c/titanic

# 1. Load libraries

In [0]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

# 2. Load dataset

In [10]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

# 3. Prepare data

In [0]:
vars = ['SEX_BINARY', 'Age']

train['Sex'].value_counts()

def convertSex(value):
  if (value == 'female'):
    return 1
  return 0

train['SEX_BINARY'] = train['Sex'].map(convertSex)
test['SEX_BINARY'] = test['Sex'].map(convertSex)

# Examples/Outputs
x = train[vars]
x = x.fillna(-1) # substitute NaN values by -1
y = train['Survived']

# 4. Create model (Random Forest with 100 decision trees)

In [187]:
# 4.1. training 
model = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
model.fit(x_train, y_train)

p = model.predict(x_valid)

# 4.2. validation

# Validation set 1 (random split)
#np.random.seed(0)
#x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.5)
#print("Acc: ", np.mean(y_valid == p))

# Validation set 2 (cross validation - K-fold)
results = []
k = KFold(n_splits=3, shuffle=True, random_state=0)
for examples, outputs in k.split(x):
  #print("Train: ", examples.shape[0])
  #print("Valid: ", outputs.shape[0])
  #print()
  x_train, x_valid = x.iloc[examples], x.iloc[outputs]
  y_train, y_valid = y.iloc[examples], y.iloc[outputs]
  y_valid = np.mean(y_valid == p)
  results.append(y_valid)
print("Acc: ", results)
print("Acc: ", np.mean(results))

Acc:  [0.5488215488215489, 0.5117845117845118, 0.7643097643097643]
Acc:  0.6083052749719416

# 5. Get results to submission

In [46]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')
sub.shape
sub.to_csv("Titanic1.csv", header=True)
!head -n10 Titanic1.csv

ValueError: ignored